.carouselItemWrapper {
  max-width: 678px;
  height: 100%;
  margin: auto;

  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.descriptionWrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #4c4c4c;

  @media (min-width: 768px) {
    padding-left: 110px;
  }

  @media (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

.userImgWrapper {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15px;
  vertical-align: top;
  margin-right: 52px;

  @media (max-width: 768px) {
    top: initial;
    bottom: 0;
    left: 0;
  }
}

.userImg {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.doubleQuotationWrapper {
  position: absolute;
  top: 0;
  left: 85px;
  display: inline-block;
  vertical-align: top;

  @media (max-width: 768px) {
    left: 0;
    top: 0;
  }
}

.doubleQuotation {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 12px;
}

.description {
  font-size: 16px;
  line-height: 1.73;
  letter-spacing: 0.5px;
  margin-bottom: 21px;
}

.authorInfo {
  display: inline-block;
  vertical-align: top;
  margin-right: 8.5px;
  font-size: 14px;
  letter-spacing: 3px;

  @media (max-width: 768px) {
    display: block;
    padding-left: 60px;
  }
}

.bioInfo {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  color: #4c4c4c;

  @media (max-width: 768px) {
    display: block;
    padding-left: 60px;
  }
}
