$header-height: 75px;
$container-width: 1080px;

.headerContainer {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;

  background-color: #ffffff;
  border-bottom: solid 1px #ECF1FA;
  transition: background-color .25s cubic-bezier(0.4, 0.0, 0.2, 1),
              border .25s cubic-bezier(0.4, 0.0, 0.2, 1);

  &.transparent {
    border-bottom-color: transparent;
    background-color: transparent;
  }
}

.innerContainer {
  height: $header-height;
  max-width: $container-width;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;


  .logoWrapper {
    display: block;

    svg {
      height: 45px;
    }
    .mobileLogo {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .logoWrapper {
      margin-left: 15px;
      .mobileLogo {
        display: block;
      }
      .desktopLogo {
        display: none;
      }
    }
  }

  .menuList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

    .menuItem {
      display: inline-block;
      margin-right: 20px;

      a {
        display: inline-block;
        width: 72px;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #656d7c;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .whitePaperItem {
      a {
        color: #6096ff;
      }
      @media (min-width: 768px) {
        a {
          width: 140px;
          padding: 8px;
          border: solid 1px #6096ff;
          border-radius: 10px;
          transition: border 0.2s cubic-bezier(0.4, 0.0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);

          &:hover {
            background-color: #6096ff;
            color: #ffffff;
          }
        }
      }
    }

    .langItem {
      svg {
        vertical-align: text-top;
        width: 20px;
        margin-right: 8px;
      }
      span {
        font-size: 14px;
        vertical-align: text-top;
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      flex-direction: column;
      visibility: hidden;
      transition: visibility 0s linear .25s;

      .menuItem {
        width: 100%;
        height: 40px;
        line-height: 39px;
        margin-right: 0;
        background-color: #ffffff;
        border-top: solid 1px #ECF1FA;

        opacity: 0;
        transform: translateY(-100%);
        transition: opacity .25s cubic-bezier(0.4, 0.0, 0.2, 1), transform .25s cubic-bezier(0.4, 0.0, 0.2, 1);
        a {
          width: 100%;
          font-size: 12px;
        }
        &:last-child {
          border-bottom: solid 1px #ECF1FA;
        }
      }
      .langItem {
        svg { width: 16px; }
        span { font-size: 12px; }
      }
    }
  }

  .mobileBtn {
    margin-right: 15px;
    svg {
      width: 22px;
    }

    .cancelIcon { display: none; }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.headerContainer.isOpen {
  background-color: #ffffff;

  .menuList {
    visibility: visible;
    transition-delay: 0s;
  }
  .menuItem {
    transform: translateY(0);
    opacity: 1;
  }
  .mobileBtn {
    .cancelIcon { display: initial; }
    .mobileIcon { display: none; }
  }
}

.menuListOverlay {
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: visibility 0s linear .25s, opacity .25s cubic-bezier(0.4, 0.0, 0.2, 1);

  &.isOpen {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}
