.problemSectionContainer {
  height: 100%;
  padding: 126px 0;
  margin: 0 auto;
  background-color: #6e71e4;
}

.innerContainer {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.leftBox {
  margin-right: 48px;

  img {
    width: 450px;
    height: 449px;
    object-fit: contain;
  }
}

.rightBox {
  max-width: 478px;
  width: 100%;

  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.39;
    color: white;
    margin-bottom: 34px;
  }

  .description {
    font-size: 20px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 1080px) {
  .problemSectionContainer {
    padding: 40px 0;
  }

  .innerContainer {
    flex-direction: column-reverse;
  }

  .contentsWrapper {
    height: 100%;
  }

  .rightBox {
    width: 100%;
    max-width: unset;
    padding: 0 16px;
  }

  .leftBox {
    text-align: center;
    margin: 24px 0 0 0;
    overflow-x: hidden;
  }
}
