$container-width: 1080px;

.workSectionContainer {
  padding-top: 70px;
  background-image: linear-gradient(to top, #ffffff, #f5f7fb);

  .innerContainer {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 768px) {
    padding-top: 50px;
    .innerContainer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.subTitle {
  text-align: center;
  font-size: 18px;
  line-height: 2.81;
  letter-spacing: 7.8px;
  color: #bbc2d0;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 4.21;
    letter-spacing: 5.2px;
    text-align: left;
  }
}

.title {
  font-size: 30px;
  line-height: 1.48;
  letter-spacing: -0.7px;
  text-align: center;
  color: #0c1020;

  strong {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
  }
}

.detail {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
  color: #0c1020;
  margin-top: 10px;
  margin-bottom: 60px;

  @media (max-width: 768px) {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.4px;
    text-align: left;
  }
}

.featureWrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;

  .featureItem {
    padding-right: 25px;
    svg {
      width: 45px;
    }

    .itemTitle {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.55;
      text-align: left;
      color: #0c1020;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .itemDetail {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.78;
      letter-spacing: -0.5px;
      text-align: left;
      color: #0c1020;
    }

    transform: translateY(10%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;

    &:nth-child(2) {
      transition-delay: 0.3s, 0.3s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s, 0.6s;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 0;

    .featureItem {
      padding-right: 0;
      padding-bottom: 40px;

      .itemTitle {
        font-size: 16px;
      }
      .itemDetail {
        font-size: 14px;
        letter-spacing: -0.4px;
      }
    }
  }
}

.wpBtnInfo {
  font-size: 18px;
  line-height: 2.81;
  text-align: center;
  color: #656d7c;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 4.21;
  }

  transform: translateX(-2%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transition-delay: 0.8s, 0.8s;
}

.wpBtn {
  display: block;
  width: 220px;
  margin: 0 auto;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  border-radius: 9px;
  background-color: #6096ff;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.25s ease;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #82acff;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 14px;
  }

  transform: translateX(-10%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transition-delay: 1s, 1s;
}

.iconWrapper {
  position: absolute;
}

.reputationSection {
  margin-top: 190px;
  position: relative;
  background-image: url(https://d2vo77dayzjoat.cloudfront.net/reputation_bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 83%;
  height: 500px;

  @media (max-width: 768px) {
    background-size: 135%;
    height: 440px;
    margin-top: 100px;
  }
}

.reputationBackground {
  top: -90px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;

  svg {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.reputationItem1,
.reputationItem2,
.reputationItem3 {
  transform: translateX(-50%);
  svg {
    height: 75px;
  }
  @media (max-width: 768px) {
    svg {
      height: 60px;
    }
  }

  transform: scale(0);
  transition: transform 0.6s ease;
}
.reputationItem1 {
  top: 200px;
  left: 18%;
  @media (max-width: 768px) {
    left: 20%;
  }
}
.reputationItem2 {
  top: 240px;
  left: 29%;
  @media (max-width: 768px) {
    top: 250px;
  }
}
.reputationItem3 {
  top: 225px;
  left: 57.5%;
  @media (max-width: 768px) {
    top: 270px;
  }
}

.workSectionContainer.shown {
  .featureWrapper {
    .featureItem {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .wpBtnInfo,
  .wpBtn {
    transform: translateX(0);
    opacity: 1;
  }

  .reputationItem1,
  .reputationItem2,
  .reputationItem3 {
    animation: scaleDisplay 0.3s ease;
    animation-fill-mode: forwards;
  }
  .reputationItem1 {
    animation-delay: 1.4s;
  }
  .reputationItem2 {
    animation-delay: 1.6s;
  }
  .reputationItem3 {
    animation-delay: 1.8s;
  }
}

@keyframes scaleDisplay {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}
