.footer {
  position: relative;
  width: 940px;
  margin: 0 auto;
  height: 100px;
}

.copyRight {
  position: absolute;
  top: 18px;
  left: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: 0.6px;
  color: #959595;
}

.footerIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.iconsWrapper {
  position: absolute;
  top: 18px;
  right: 0;
  display: flex;
}

.footerIcon {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 21px;
}
