.blogSectionContainer {
  padding-top: 59px;
  padding-bottom: 73px;
  background-color: #f6f9fb;
}

.innerContainer {
  max-width: 940px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.blogCardWrapper {
  border: soldi 1px pink;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.blogTitle {
  font-size: 24px;
  line-height: 1.83;
  text-align: center;
  color: #172649;
  margin-bottom: 44.5px;
}

.blogCard {
  flex: 1 100%;
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
  text-align: left;
  margin-bottom: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

  @media (min-width: 768px) {
    max-width: 300px;
  }

  &:hover {
    background-color: #f9f9f9;
    text-decoration: none;
  }
}

.blogImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  height: 187px;
  text-align: center;

  .blogImage {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  padding: 14px 23px 16px 23px;
}

.blogCardTitle {
  font-size: 18px;
  line-height: 1.56;
  color: #323c47;
  margin-bottom: 8px;
}

.blogCardDescription {
  font-size: 15px;
  line-height: 1.53;
  color: #797979;
}

.blogButton {
  display: block;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 54px;
  line-height: 54px;
  border-radius: 5px;
  background-color: #172649;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @media (max-width: 768px) {
    margin-top: 20px;
  }

  &:hover {
    text-decoration: inherit;
    color: #fff;
  }

}
