$container-width: 1080px;

.bottomSectionContainer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    text-align: center;
  }
}

.balloonWrapper {
  position: relative;
  width: 355px;
  margin: 0 auto;
  height: 57px;
  line-height: 57px;
  padding-left: 28px;

  .balloonIcon {
    position: absolute;
    top: 0;
    left: 0;
    svg {
      height: 57px;
      width: 355px;
    }
  }

  .balloonText {
    position: relative;
    font-size: 18.9px;
    text-align: left;
    color: #ffffff;
  }

  &:nth-child(2) {
    margin-top: 10px;
    .balloonIcon {
      svg {
        width: 335px;
      }
    }
  }
}

.telegramLink {
  display: inline-block;
  width: 254.5px;
  height: 54.5px;
  line-height: 54.5px;
  border-radius: 50px;
  border: solid 1px #6096ff;
  font-size: 16px;
  text-align: center;
  color: #6096ff !important;
  margin-top: 40px;
  cursor: pointer;

  svg {
    vertical-align: text-bottom;
    margin-right: 14px;
    width: 24px;
  }

  &:hover {
    text-decoration: none;
  }
}
