$header-height: 75px;
$container-width: 1080px;

.mainSectionContainer {
  padding-top: $header-height;
  height: 800px;
  overflow: hidden;
  background-color: #f5f7fb;
  position: relative;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    position: relative;
    padding-top: 45px;
    margin-top: 45px;

    & > div:not(.backgroundImage) {
      z-index: 1;
      position: relative;
    }
  }

  @media (max-width: 768px) {
    height: 568px;
    .innerContainer {
      margin-top: 20px;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.backgroundImage {
  z-index: 0;
  max-width: 650px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;

  img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  @media (max-width: 768px) {
    top: initial;
    bottom: 60px;
    padding-left: 23px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #0c1020;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 21px;
    line-height: 1.51;
    letter-spacing: 0.6px;
  }
}

.subTitle {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  color: #656d7c;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    font-size: 14.1px;
    line-height: 1.75;
    margin-bottom: 150px;
  }
}

.emailFormWrapper {
  margin-bottom: 20px;

  .emailSubmitInput {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    height: 45px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #6096ff;
    padding-left: 20px;
    padding-right: 20px;
    &:focus {
      outline: none;
    }
  }

  .emailSubmitButton {
    margin-left: 18px;
    padding: 0;
    border: none;
    vertical-align: top;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: #6096ff;
    color: #ffffff;
    transition: background-color .25s ease;

    &:hover {
      background-color: #82acff;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;

    .emailSubmitInput {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    .emailSubmitButton {
      margin-left: 0;
      display: block;
      width: 100%;
    }
  }
}

.followSection {
  margin-bottom: 350px;
  .footerIconWrapper {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
    color: #bbc2d0;
    transition: color .25s ease;
    cursor: pointer;

    &:hover { color: #8993A8; }
    &:active { transform: scale(0.95); }
  }
}

.waveIcon {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.bubblesIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1040px;
  width: 100%;

  @media (max-width: 768px) {
    left: 0;
    width: 200%;
  }
}
