.mainSectionContainer {
  background-image: url("https://pluto-asset.s3-accelerate.amazonaws.com/first-section-background.jpg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.headline {
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #fff;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  margin-bottom: 38px;
}

.emailSubmitInput {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: #fff;
  margin-right: 20px;
}

.emailSubmitButton {
  height: 50px;
  border-radius: 4px;
  background-color: #a1958d;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
