$header-height: 80px;
$container-width: 1080px;

.mainSectionContainer {
  padding-top: $header-height;
  height: 800px;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #feffff 79%,
    #f9fbff 89%,
    #f1f7ff
  );
  position: relative;
  max-width: 100%;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
    position: relative;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    svg {
      width: 18px;
    }
  }

  .ourProductButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #5b83ee;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: #456eda;
      color: white;
    }
  }

  @media (max-width: 1080px) {
    height: 708px;

    .innerContainer {
      margin-top: 20px;
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.learnMoreButton {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #5b83ee;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #456eda;
  }
}

.forwardArrowIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  transform: rotateY(180deg);

  svg {
    width: 16px;
    height: 16px;
  }
}
.buttonWrapper {
  margin-top: 48px;

  @media (max-width: 1080px) {
    text-align: center;
    margin-top: 0px;
  }
}

.backgroundImg {
  background: url("https://assets.pluto.network/pluto_team_hompage/home-character%403x.png");
  max-width: 1080px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: 700px auto;
  background-repeat: no-repeat;
  background-position: 100% 120%;
  position: relative;

  @media (max-width: 1080px) {
    background-size: 500px;
    background-position: bottom;
  }

  @media (max-width: 450px) {
    background-size: 130%;
    background-position: bottom;
  }
}

.title {
  font-size: 50px;
  font-weight: 500;
  color: #364a6a;
  margin-bottom: 8px;

  @media (max-width: 1080px) {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

  transform: translateY(30%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.scrollDownButton {
  background: none;
  border: none;
  position: absolute;
  bottom: 8px;
  left: 50%;

  &:focus {
    outline: none;
  }

  .scrollDownButtonIcon {
    svg {
      width: 16px;
      height: 10px;
    }
  }
}

.subTitle {
  font-size: 26px;
  color: #7085a8;

  @media (max-width: 1080px) {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  transform: translateY(30%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.videoButton {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #6096ff;
  margin-bottom: 160px;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

  svg {
    width: 22px;
    height: 22px;
    margin-left: 6px;
  }

  transform: translateY(30%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
  transition-delay: 0.7s;
}

.emailFormWrapper {
  max-width: $container-width;
  margin-bottom: 20px;
  border-radius: 120px;
  background-color: #ffffff;
  display: inline-block;
  padding-left: 20px;
  padding-right: 7px;
  width: 332px;
  height: 46px;

  .emailSubmitInput {
    width: 250px;
    height: 46px;
    vertical-align: top;
    display: inline-block;
    background-color: #ffffff;
    border: solid 0px;
    &:focus {
      outline: none;
    }
  }

  .emailSubmitButton {
    margin-left: 21px;
    padding: 0;
    border: none;
    vertical-align: top;
    width: 34px;
    height: 34px;
    border-radius: 120px;
    background-color: #6096ff;
    color: #ffffff;
    transition: background-color 0.25s ease;
    margin-top: 6px;

    svg {
      width: 12px;
      margin: 11px;
    }

    &:hover {
      background-color: #82acff;
    }
  }

  @media (max-width: 1080px) {
    .emailSubmitInput {
      margin-bottom: 8px;
      width: 271px;
    }
    .emailSubmitButton {
      margin-left: 0;
    }
  }

  transform: translateY(30%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transition-delay: 0.3s, 0.3s;
}

.submittedMessage {
  width: 332px;
  height: 69px;
  border-radius: 120px;
  background-color: rgba(118, 124, 135, 0.55);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  vertical-align: top;
  display: inline-block;
  padding-top: 13.5px;
  font-weight: 300;
  margin-bottom: 180px;
  @media (max-width: 1080px) {
    margin-bottom: 134px;
  }
}

.blobs {
  max-width: 1080px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;

  .blobGreen {
    content: "";
    position: absolute;
    top: 120px;
    right: 0px;
    display: block;
    width: 440px;
    height: 360px;
    background-color: #87f0e2;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: transform 30s ease-in-out infinite both alternate,
      movement 40s ease-in-out infinite both;
  }

  .blobBlue {
    content: "";
    position: absolute;
    top: 480px;
    right: 500px;
    display: block;
    width: 160px;
    height: 160px;
    background-color: #caf2ff;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: transform 40s ease-in-out infinite both alternate,
      movement 50s ease-in-out infinite both;
  }

  .blobPurple {
    content: "";
    position: absolute;
    top: 560px;
    right: 360px;
    display: block;
    width: 300px;
    height: 200px;
    background-color: #6e71e4;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: transform 10s ease-in-out infinite both alternate,
      movement 20s ease-in-out infinite both;
  }

  @media (max-width: 1080px) {
    .blobGreen {
      display: none;
    }
    .blobBlue {
      display: none;
    }
    .blobPurple {
      display: none;
    }
  }
}

@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes movement {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translateY(6%) rotateY(30deg);
  }
}

.mainSectionContainer.shown {
  .videoButton,
  .title,
  .subTitle,
  .emailFormWrapper,
  .followSection {
    transform: translateY(0);
    opacity: 1;
  }
}
