$container-width: 1080px;

.footer {
  background-color: #f5f7fb;
  position: relative;
}

.innerContainer {
  max-width: $container-width;
  height: 260px;
  padding-top: 42.5px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.logoSection {
  flex: 2 auto;

  svg {
    width: 103.5px;
    height: 57.5px;
  }

  p {
    margin-top: 32px;
    color: #bbc2d0;
    font-size: 14px;
    text-align: left;
  }
}

.ulSection {
  list-style: none;
  font-size: 18px;

  li {
    margin-bottom: 7px;

    a {
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  li:first-child {
    font-weight: 600;
    cursor: default;
    margin: 12px 0;
  }

}

.plutoSection {
  flex: 1 auto;
}

.resourceSection {
  flex: 2 auto;
}

.followSection {
  flex: 1 auto;

  .footerIconWrapper {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
  }
}
