$container-width: 1080px;

.footer {
  background-color: white;
  height: 84px;
  padding: 24px 130px;
  font-size: 16px;
  line-height: 1.44;
  color: #364a6a;
}

@media (max-width: 768px) {
  .footer {
    padding: 16px 16px;
    font-size: 14px;
    height: auto;
  }
}
