.researchSectionContainer {
  padding-top: 30px;
  padding-bottom: 81px;
}

.container {
  max-width: 940px;
  margin: 0 auto;

  .smallTitle {
    font-size: 20px;
    line-height: 2;
    color: #dcd1c9;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5.5px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 2.5;
    }
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 1.5;
  color: #172649;
  margin-bottom: 41px;
  white-space: pre;
  text-align: center;

  @media (max-width: 768px) {
    white-space: normal;
    font-size: 22px;
    line-height: 1.58;
  }
}

.effectWrapper {
  padding: 0;
  list-style: none;
}

.effectItem {
  display: inline-block;
  vertical-align: top;
  max-width: 440px;
  min-height: 200px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #f0f0f0;
  padding: 40px;
  transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media (min-width: 768px) {
    &:hover {
      box-shadow: 0 4px 20px 0 rgba(143, 143, 143, 0.21);
      border-color: #efefef;
    }

    &:nth-child(even) {
      margin-left: 20px;
    }
  }

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 30px;
  }
}

.effectItemImage {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  object-fit: contain;
  margin-right: 24.5px;
}

.effectItemTitle {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 44px;
  color: #323c47;
}

.effectItemDescription {
  margin-top: 27px;
  font-size: 16px;
  line-height: 1.5;
  color: #7f8593;
}

.row {
  margin-bottom: 20px;
}
