$container-width: 1080px;


.achieveSectionContainer {
  padding: 50px 0;
  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .innerContainer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.subTitle {
  text-align: center;
  font-size: 18px;
  line-height: 2.81;
  letter-spacing: 7.8px;
  color: #bbc2d0;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 4.21;
    letter-spacing: 5.2px;
    text-align: left;
  }
}

.title {
  text-align: center;
	font-size: 30px;
	line-height: 1.48;
  color: #0c1020;
  margin-bottom: 90px;

  strong {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    margin-bottom: 20px;
  }
}

.subSection {
  display: inline-block;
  vertical-align: middle;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.achieveItem {
  border-radius: 10px;
  padding: 22px;

  &.active {
    background-color: #f5f7fb;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: -0.8px;
    text-align: left;
    color: #0c1020;

    &.itemTitle {
      font-size: 20px;
      line-height: 1.42;
      letter-spacing: -0.8px;
      text-align: left;
      color: #6096ff;
    }
  }

  @media (max-width: 768px) {
    padding: 12px;
    p {
      font-size: 10.8px;
      letter-spacing: -0.4px;

      &.itemTitle {
        font-size: 12px;
        line-height: 1.43;
        letter-spacing: -0.5px;
      }
    }
  }
}

.itemImageWrapper {
  text-align: center;
  padding: 0 70px;

  .itemImage {
    width: 100%;
    border-radius: 15px;
    display: none;

    &.active {
      display: block;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
