.innerContainer {
  background-color: #062e4e;
  padding: 72px 0;
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  color: white;
}

.subTitle {
  margin-left: 100px;
  width: 578px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.graphContent {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.graphDescription {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.description {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 80px;
  }

  img {
    width: 578px;
  }

  .magnification {
    width: 120px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 2.25px;
  }

  .subDesc {
    width: 370px;
    margin-left: 8px;
    font-size: 16px;
  }
}

.bottomDesc {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  margin-top: 42px;
  color: rgba(255, 255, 255, 0.86);
}

.textWrapper {
  display: flex;
  margin-left: 20px;
}

@media (max-width: 1080px) {
  .innerContainer {
    padding: 42px 16px;
  }

  .titleWrapper {
    flex-direction: column;
  }

  .subTitle {
    margin: 16px 0 0 0;
    width: 100%;
  }

  .description {
    flex-direction: column;

    img {
      margin-bottom: 18px;
      max-width: 578px;
      width: 100%;
      object-fit: contain;
    }
  }

  .textWrapper {
    width: 100%;
  }

  .magnification {
    width: 100% !important;
    max-width: 120px;
  }

  .subDesc {
    font-size: 14px;
  }
}
