.platformSectionContainer {
  background-image: url("https://d2vo77dayzjoat.cloudfront.net/section-4-background.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 138.5px 0;

  @media (max-width: 768px) {
    padding: 118px 0;
  }
}

.innerContainer {
  max-width: 940px;
}

.title {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 33px;
  color: #fff;
  white-space: pre;

  @media (max-width: 768px) {
    white-space: normal;
  }
}

.description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  white-space: pre;

  @media (max-width: 768px) {
    white-space: normal;
  }
}
