$container-width: 1080px;

.visionSectionContainer {
  padding-top: 100px;
  background-color: #2a2a2a;
  background-image: url("https://assets.pluto.network/our-goal-background%402x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;

  svg {
    width: 670px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .innerContainer {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contentsWrapper {
      max-width: 530px;
      margin-right: 46px;
    }
    svg {
      width: 448px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 50px;
    svg {
      display: none;
    }
    .innerContainer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.subTitle {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #3e7fff;
  width: 530px;

  @media (max-width: 768px) {
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
}

.title {
  width: 530px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;

  strong {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
  }
}

.contents {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #9ea6b5;
  font-weight: 300;
}

.visionSectionContainer.shown {
  .featureWrapper {
    .featureItem {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@keyframes scaleDisplay {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}
