.criticismSection {
  background-color: #f5f7fb;
  padding-top: 75px;
  padding-bottom: 95px;
}

.innerContainer {
  max-width: 940px;

  .smallTitle {
    font-size: 20px;
    line-height: 2;
    color: #d9dee8;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5.5px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 2.5;
    }
  }
}

.headline {
  font-size: 24px;
  line-height: 1.83;
  color: #323c47;
  text-align: center;
  white-space: pre;
  margin-top: 0;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 1.83;
    text-align: left;
    white-space: normal;
  }
}

.cardItemWrapper {
  list-style: none;
  padding-left: 0;
}

.subTitle {
  font-size: 15px;
  line-height: 1.61;
  letter-spacing: -0.6px;
  text-align: center;
  color: #8d8d8d;
  white-space: pre;

  @media (min-width: 768px) {
    margin-left: -15px;
  }

  @media (max-width: 768px) {
    font-size: 17px;
    line-height: 1.65;
    text-align: left;
    white-space: normal;
  }
}

.card {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 78px;
}

.cardTitle {
  margin-top: 49px;
  margin-bottom: 36px;
  text-align: center;
  white-space: pre;
  font-size: 20px;
  line-height: 1.1;
  color: #172649;
  font-weight: 500;

  @media (max-width: 768px) {
    white-space: normal;
  }
}

.cardDescription {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: -0.2px;
  color: #2d2c44;
  text-align: center;
}

.cardItemIcon {
  display: inline-block;
  vertical-align: top;
  width: 65px;
  height: 65px;
}
