$navbar-height : 75px;
$mobile-width : 768px;

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #A1958D;
  transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

  .container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    position: relative;
    flex-direction: row;
  }

  &.isOpen.transparent {
    background-color: #a1958d;
  }
}

.mobileBtn {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.navbar.transparent {
  background-color: transparent;
}

.menuList {
  margin: 0;
  padding: 0;
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;

  li {
    display: inline-block;
    min-width: 100px;
    margin-right: 20px;
    text-align: center;

    .menuItem {
      display: block;
      color: #fff;
      padding: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    background-color: #A1958D;
    position: absolute;
    top: $navbar-height - 1;
    left: 0;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 250ms, opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &.isOpen {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    li {
      width: 100%;
      margin-right: 0;
      padding: 10px;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: top;
  font-style: 18px;
  color: #fff;

  svg {
    width: 150px;
    height: 20px;
  }
}

.contributeBtn {
  display: inline-block;
  color: #fff;
  width: 140px;
  height: 42px;
  line-height: 42px;
  background-color: #172649;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  font-size: 16px;

  &:hover {
    text-decoration: inherit;
    color: #fff;
  }
}
