$navbar-height : 75px;
$mobile-width : 768px;

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #0b1024;
  transition: background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

  .container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    position: relative;
    flex-direction: row;
    z-index: 1;
  }

  &.isMobileOpen.transparent {
    background-color: #0b1024;
  }

  &.isMobileOpen {
    .mobileBtn {
      .mobileIcon { display: none; }
      .cancelIcon { display: initial; }
    }
    .menuListOverlay {
      visibility: visible;
      opacity: 0.2;
      transition-delay: 0s;
     }
  }
}

.mobileBtn {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 27.5px;
  right: 15px;

  @media (min-width: $mobile-width) {
    display: none;
  }

  .cancelIcon { display: none; }
}

.navbar.transparent {
  background-color: transparent;
}

.menuListOverlay {
  position: fixed;
  opacity: 0.2;
  background-color: #000000;
  top: $navbar-height;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.menuList {
  margin: 0;
  padding: 0;
  width: 100%;
  flex: 2 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;

  li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    .menuItem {
      display: block;
      color: #fff;
      padding: 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .langItem { display: none; }

  @media (max-width: $mobile-width) {
    background-color: #0b1024;
    position: absolute;
    top: $navbar-height - 1;
    left: 0;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 250ms, opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &.isMobileOpen {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    li {
      width: 100%;
      margin-right: 0;
      padding: 10px;
    }

    .langItem {
      padding: 10px;
      display: inline-block;
    }
  }
}

.logo {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  width: 100px;
  text-align: center;
  left: 50%;
  margin-left: -50px;

  svg {
    width: 86.5px;
    height: 28.5px;
  }
}

// .contributeBtn {
//   display: inline-block;
//   color: #fff;
//   width: 140px;
//   height: 42px;
//   line-height: 42px;
//   background-color: #172649;
//   border-radius: 4px;
//   padding: 0;
//   text-align: center;
//   font-size: 16px;

//   &:hover {
//     text-decoration: inherit;
//     color: #fff;
//   }
// }

.langItem {
  position: relative;
  margin-right: 20px;

  .langBtn {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.4px;
    cursor: pointer;

    img {
      width: 23px;
      height: 23px;
      margin-right: 10px;
    }

    span {
      transition: opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
      vertical-align: middle;
    }
    .active { opacity: 1; }
    .notActive { opacity: 0.6; }
  }
}

.snsBtnList {
  margin: 0;
  padding: 0;
  width: 100%;
  flex: 2 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;

  li {
    display: inline-block;
    text-align: center;

    .menuItem {
      display: block;
      color: #fff;
      margin-right: 20px;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }

  @media (max-width: $mobile-width) {
    visibility: hidden;
  }
}
