.scinapseFeatureInfoSectionContainer {
  height: 700px;
}

.innerContainer {
  background-color: #5b83ee;
  padding: 72px 0;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: white;
}

.subTitle {
  margin-top: 12px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: rgba(255, 255, 255, 0.68);
}
