$container-width: 1080px;

.pressSectionContainer {
  padding-top: 24px;
  background-color: #fff;
  height: 271px;
}

.pressWrapper {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 3.75;
  letter-spacing: 1.31px;
  text-align: center;
  color: #8c9fbf;
}

.pressItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  height: 111px;
  box-shadow: 0 3px 13px 0 rgba(255, 255, 255, 0.1);

  .pressImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  & + & {
    margin-left: 22px;
  }
}

.pressItemWrapper {
  display: flex;
  border-top: 1px solid #e5e9f0;
  padding-top: 24px;
}

.pressItemContainer {
  & + & {
    margin-left: 22px;
  }
}

@media (max-width: 1080px) {
  .pressSectionContainer {
    height: 100%;
    padding: 20px 40px;
  }
  .pressWrapper {
    flex-direction: column;
  }

  .pressItemWrapper {
    flex-direction: column;
    align-items: center;
  }

  .pressItem {
    & + & {
      margin: 16px 0 0 0;
    }
  }

  .pressItemContainer {
    & + & {
      margin: 32px 0 0 0;
    }
  }
}
