$container-width: 1080px;

.detailSectionContainer {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #373e4d;
  background-image: url(https://d2vo77dayzjoat.cloudfront.net/pattern-background.png);
  position: relative;
  overflow: hidden;

  .innerContainer {
    max-width: $container-width;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    padding: 60px 15px 30px 15px;
  }

  &.shown {
    border: solid 1px saddlebrown;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: row;

  .title {
    flex: 1 0px;
    font-size: 30px;
    line-height: 1.48;
    text-align: left;
    color: #ffffff;

    strong {
      font-weight: 700;
    }
  }

  .detail {
    flex: 2 0px;
    font-size: 18px;
    line-height: 1.78;
    text-align: left;
    color: #bbc2d0;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .title {
      font-size: 18px;
      line-height: 1.56;
      margin-bottom: 15px;
    }

    .detail {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}

.imageWrapper {
  z-index: 2;
  height: 500px;
  margin-top: 24px;
  position: relative;

  .moreDetail {
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    color: #6096ff;
    display: block;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    position: absolute;

    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
  }

  .imgMacbook {
    max-width: 646.5px;
    width: 100%;
    object-fit: contain;
    top: 80px;
    left: 0;

    transform: translate(0, 1%);
    transition-delay: 0.1s;
  }

  .imgPeerReview {
    max-width: 583.5px;
    width: 100%;
    object-fit: contain;
    top: 20px;
    right: 20px;

    transform: translate(-10%, 0);
    transition-delay: 0.3s;
  }

  .imgComment1 {
    max-width: 419.5px;
    width: 100%;
    object-fit: contain;
    right: 0;
    bottom: 125px;

    transform: translate(0, -12%);
    transition-delay: 0.6s;
  }

  .imgComment2 {
    max-width: 419.5px;
    width: 100%;
    object-fit: contain;
    right: 10px;
    bottom: 40px;

    transform: translate(0, -12%);
    transition-delay: 0.9s;
  }
  .imgMacbookMobile {
    display: none;

    transform: translate(0, 1%);
    transition-delay: 0.1s;
  }
  @media (max-width: 768px) {
    height: 450px;
    .moreDetail {
      font-size: 14px;
    }
    .imgMacbook {
      display: none;
    }
    .imgMacbookMobile {
      display: inherit;
      top: 55px;
      width: 100%;
      left: -16px;
    }
    .imgPeerReview {
      top: 250px;
      right: 10px;
    }
    .imgComment1 {
      width: 80%;
      bottom: 45px;
    }
    .imgComment2 {
      width: 80%;
      bottom: 0;
      right: 7px;
    }
  }
}

.waveIcon {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    bottom: -190px;
  }
}

.detailSectionContainer.shown {
  .imageWrapper {
    img {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
