.roadMapSectionContainer {
  padding-top: 90px;
  text-align: center;
  background-image: linear-gradient(0deg, #f7faff, #ffffff);

  @media (max-width: 768px) {
    padding-top: 55px;
  }
}

.innerContainer {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;

  .smallTitle {
    font-size: 20px;
    line-height: 2;
    color: #d9dee8;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5.5px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 2.5;
    }
  }

  .title {
    font-size: 28px;
    line-height: 1.43;
    color: #172649;
    text-align: center;
    margin-bottom: 90.5px;
    white-space: pre;

    @media (max-width: 768px) {
      white-space: normal;
      line-height: 1.53;
      margin-bottom: 35px;
      font-size: 18px;
    }
  }

  .stepWrapper {
    display: flex;
    flex-direction: row;

    .contentWrapper {
      flex: 1;
      padding-top: 30px;
      z-index: 1;
      text-align: left;

      .stepIndex {
        display: block;
        font-size: 100px;
        color: #ecf1fa;
        font-weight: 700;
        line-height: 0.7;
        margin-bottom: -10px;
      }

      .stepTitle {
        font-size: 30px;
        line-height: 1.47;
        color: #000000;
        margin-bottom: 16.5px;
      }

      .stepDescription {
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 49.5px;
      }
    }

    .imageWrapper {
      position: relative;
      flex: 1;

      .stepImage {
        position: absolute;
      }

      @media (min-width: 768px) {
        .image1 {
          width: 547.5px;
          top: 0;
          right: 0;
        }

        .image2 {
          width: 331.5px;
          top: 0;
          left: 41.5px;
        }

        .image3 {
          width: 411px;
          top: 20px;
          right: 0;
        }

        .image4 {
          height: 193.5px;
          top: 20px;
          left: 0;
        }

        .image5 {
          width: 507.5px;
          bottom: 0;
          right: 0;
        }
      }
    }

    @media (min-width: 768px) {
      &:nth-child(odd) {
        .stepTitle { white-space: pre; }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .contentWrapper {
        min-height: 275px;
        .stepDescription {
          white-space: pre;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .contentWrapper {
        .stepIndex {
          font-size: 60px;
        }

        .stepTitle {
          font-size: 27px;
          line-height: 1.63;
        }

        .stepDescription {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 0;
        }
      }

      .imageWrapper {
        .stepImage {
          position: static;
          width: 100%;
        }

        .image2 {
          padding-left: 30%;
        }
      }
    }
  }
}
