.representSectionContainer {
  padding: 62px 230px;
  background-color: #f5f6fa;
}

.contentsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contents {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  color: #062e4e;
}

.learnMoreButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 44px;
  border-radius: 4px;
  background-color: #5b83ee;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.forwardArrowIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  transform: rotateY(180deg);

  svg {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1080px) {
  .representSectionContainer {
    display: flex;
    padding: 62px 32px;
    align-items: center;
  }

  .contentsWrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .learnMoreButton {
    margin: 24px 0 0 0;
  }

  .smallContext {
    font-size: 20px;
  }
}

@media (max-width: 920px) {
  .contents {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.71;
    color: #062e4e;
  }
}
