.roadMapSectionContainer {
  background-image: #fff;
  padding: 90px 0;
  text-align: center;
}

.title {
  font-size: 24px;
  line-height: 1.83;
  color: #172649;
}

.subTitle {
  font-size: 17px;
  line-height: 2.59;
  color: #8d8d8d;
  margin-bottom: 38px;
}

.processImage {
  display: inline-block;
  vertical-align: top;
}
